* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.container__2 {
    position: relative;
    width: 400px;
    height: 400px;
    padding: 40px; 
}

.horizontal_bar2 {
    position: absolute;
    top: 60px; 
    bottom: 60px;
    left: 40px;
    right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.vertical_bar2 {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 55px;
    right: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.h-bar2 {
    width: 100%;
    height: 13%;
    background-color: black;
}

.v-bar2 {
    height: 100%;
    width: 13%;
    background-color: #666666;
}

.v-bar2__primera{
    height: 11.5%;
    width: 13%;
    background-color: #666666;
}

.v-bar2__primera__1{
    position: absolute;
    height: 10.5%;
    width: 13%;
    background-color: #666666;
    margin-top: 73px;
    margin-right: 217.5px;   
}

.v-bar2__primera__2{
    position: absolute;
    height: 10.7%;
    width: 13%;
    background-color: #666666;
    margin-top: 143px;
    margin-right: 217.5px;   
}

.v-bar2__primera__3{
    position: absolute;
    height: 10.5%;
    width: 13%;
    background-color: #666666;
    margin-top: 213.5px;
    margin-right: 217.5px;   
}

.v-bar2__primera__4{
    position: absolute;
    height: 11.5%;
    width: 13%;
    background-color: #666666;
    margin-top: 283.5px;
    margin-right: 217.5px;   
}


