* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container2 {
    display: flex;
    position: absolute;
    margin-left: 36%;
    min-height: 100vh;
   
}

.container__2 {
    position: relative;
    width: 400px;
    height: 400px;
    padding: 40px; 
}

.horizontal_bar2 {
    position: absolute;
    top: 60px; 
    bottom: 60px;
    left: 40px;
    right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.h-bar2 {
    width: 100%;
    height: 13%;
    background-color: black;
    
}
.h-bar2__superpuesta {
    width: 100%;
    height: 13%;
    background-color: black;
    z-index: 10;
    
}

.vertical_bar2 {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 55px;
    right: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.v-bar2__atras{
    z-index: -10;
    height: 100%;
    width: 13%;
    background-color: #666666;
}

.v-bar2{
    height: 100%;
    width: 13%;
    background-color: #666666;

}




